Package: lair
Version: 0.9-1
Architecture: amd64
Maintainer: lair repo key <problemsolver@openmailbox.org>
Installed-Size: 245
Depends: lua5.2, liblua5.2-0, libsdl2-2.0-0, libsdl2-gfx-1.0-0, libsdl2-image-2.0-0, libsdl2-mixer-2.0-0, libsdl2-ttf-2.0-0, libtoxav0, libtoxcore0, libtoxencryptsave0
Provides: lair
Section: games
Priority: extra
Homepage: https://cmotc.github.io/lair-web/
Description: LAIR! Roguelike Game, version 0.9
 LAIR is a Procedurally Generated Mutliplayer Rogue-Like Game.
 It uses a library of content and a set of Lua scripts to
 generate a random map according to a more-or-less detailed and
 flexible environment to play in.
