Package: lair-dbgsym
Source: lair
Version: 0.9-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: lair repo key <problemsolver@openmailbox.org>
Installed-Size: 442
Depends: lair (= 0.9-1)
Section: debug
Priority: extra
Homepage: https://cmotc.github.io/lair-web/
Description: Debug symbols for lair
Build-Ids: f934cd6071356013fbf4c94da53df6a78160b46d
