Package: lair-dbgsym
Source: lair
Version: 0.9-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: lair repo key <problemsolver@openmailbox.org>
Installed-Size: 414
Depends: lair (= 0.9-1)
Section: debug
Priority: extra
Homepage: https://cmotc.github.io/lair-web/
Description: Debug symbols for lair
Build-Ids: f369fe76845891503f7e18d7dfdbfbc1dc567a35
