Package: lair-dbgsym
Source: lair
Version: 9.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: idk <problemsolver@openmailbox.org>
Installed-Size: 411
Depends: lair (= 9.1-1)
Section: debug
Priority: extra
Homepage: https://cmotc.github.io/lair-web
Description: Debug symbols for lair
Build-Ids: d58dea7c3381c5bbdcd302688c1c8eb6d04e12a3
