Source: lair
Version: 0.9-1
Section: games
Priority: extra
Maintainer: idk <problemsolver@openmailbox.org>
Vcs-Git: git@github.com/cmotc/valair.git
Vcs-Browser: https://github.com/cmotc/valair
Build-Depends: debhelper (>= 9),liblua5.2-dev,libsdl2-dev,libsdl2-gfx-dev,libsdl2-image-dev,libsdl2-mixer-dev,libsdl2-ttf-dev,libtox-dev,libtoxav-dev,libtoxcore-dev,libtoxencryptsave-dev

Package: lair
Priority: extra
Section: games
Maintainer: idk <problemsolver@openmailbox.org>
Architecture: amd64
Version: 0.9-1
Depends: lua5.2,liblua5.2-0,libsdl2-2.0-0,libsdl2-gfx-1.0-0,libsdl2-image-2.0-0,libsdl2-mixer-2.0-0,libsdl2-ttf-2.0-0,libtoxav0,libtoxcore0,libtoxencryptsave0
Provides: lair
Homepage: https://cmotc.github.io/lair-web/
Description: LAIR! Roguelike Game, version 0.9
 LAIR is a Procedurally Generated Mutliplayer Rogue-Like Game.
 It uses a library of content and a set of Lua scripts to
 generate a random map according to a more-or-less detailed and
 flexible environment to play in.
